**/*.log
BipolarExpedition\.minecraft\saves
BipolarExpedition\.minecraft\world
BipolarExpedition\.minecraft\backups
BipolarExpedition\.minecraft\crash-reports
BipolarExpedition\.minecraft\discordsuite
BipolarExpedition\.minecraft\logs
BipolarExpedition\.minecraft\resourcepacks
BipolarExpedition\.minecraft\screenshots
BipolarExpedition\.minecraft\server-resource-packs
BipolarExpedition\.minecraft\shaderpacks
BipolarExpedition\.minecraft\texturepacks
BipolarExpedition\.minecraft\TombManyGraves
BipolarExpedition\.minecraft\plugins
BipolarExpedition\.minecraft\*.logs
BipolarExpedition\.minecraft\.*dll
BipolarExpedition\.minecraft\journeymap
BipolarExpedition\.minecraft\config\shadowfacts\DiscordChat
BipolarExpedition\.minecraft\server.properties
BipolarExpedition\.minecraft\usercache.json
BipolarExpedition\.minecraft\usernamecache.json
BipolarExpedition\.minecraft\whitelist.json
BipolarExpedition\.minecraft\banned-ips.json
BipolarExpedition\.minecraft\banned-players.json
BipolarExpedition\.minecraft\ops.json